!!!
%html
  %head
    %title Wayfaring Battle
    %meta{charset: "utf-8"}/
    %meta{content: "initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui", name: "viewport"}
    / Makes your prototype chrome-less once bookmarked to your phone's home screen
    %meta{content: "yes", name: "apple-mobile-web-app-capable"}/
    %meta{content: "black", name: "apple-mobile-web-app-status-bar-style"}/
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .drawers{style: 'position: absolute;'}
      .left-drawer{style: 'position: absolute;', hidden: true}
        %ul.table-view{style: 'width: 266px; border-right: 1px solid #dddddd;'}
          %li.table-view-cell
            = link_to 'Users', users_path
    #content
      %header.bar.bar-nav
        #menu.icon.icon-bars.pull-left
        - if current_user
          = link_to user_path(current_user) do
            .icon.icon-person.pull-right
        %h1.title
          = @title
      %body.content
        -# %p.notice
        -#   = notice
        -# %p.alert
        -#   = alert
        = yield
